.vscode/
.idea/
node_modules/
.DS_Store
*.tgz
*.js
*.js.map
*.log
*.d.ts
src/hooks/
src/node_modules/
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
demo/lib
demo/platforms
demo/node_modules
demo-ng/platforms
publish/package/